doctype html
html
    head
        title Login site
        style
            include style.css
    body
        div.box
            h1 Log in to the application:
            a(href="/auth/google") 
                    button Log in with Google now!