body {
	display: flex;
	justify-content: center;
	background-color: #dcdde1;
	}

.box {
	margin: 80px;
	padding: 80px;
	font-weight: bold;
	border: 1px solid #7f8fa6;
	color: #7f8fa6;
	background-color: #fffae8;
}

a {
	text-decoration: none;
}

button {
	margin-top: 80px;
	padding: 20px;
	display: flex;
	justify-content: center;
	font-size: 1.5em;
	border: 1px solid #7f8fa6;
	border-radius: 15px;
	cursor: pointer;
	background-color: #2f3640;
	color: #7f8fa6;
	margin: auto;
}

